$btn-border-radius:0;

//Media queries
$petit-ecran: 768px;
$ecran-moyen-min: 769px;
$ecran-moyen-max: 1024px;
$ecran-grand-ecran: 1025px;

@import "../bootstrap/scss/main.scss";

// %CallToActionBtn{
//     border: none;
//     // background-color:$secondary;
//     // color:$dark;
//     padding: 1vh 1vw;
//     // border-radius: 5px;
//     margin: 1vh 0;  
// }

@mixin dflex($direction:row, $justify:space-between , $align :center) {
    display: flex;
    flex-direction : $direction;
    justify-content:$justify;
    align-items:$align ;
    align-content: center;
    
}
body{
    background-color: black;
}

#Head{
    background: url('../img/hero-wrapper.png') center ;
    background-size: cover;
    height: 100vh;
    .headText{
        @include dflex($justify:center);
        margin: auto 0;
        height: 100vh;
    }
    .heroSection{
        @include dflex(column,$justify:space-between , $align :left);
        color: white;
        h1{
            font-size: 50px;
            letter-spacing: 2px;
        }
        p{
            font-size: 20px;
        }
        &__item{
            margin: 3vh 0;
        }
        // button{
        //     transpa;
        // }
    }
}

//RESPONSIVE

@media screen and (max-width: $petit-ecran) {
    /* Styles à appliquer aux petits écrans */
    body {
      font-size: 14px;
    }
    
    #Head{
        height: 60vh;
        text-align: center;
        .headText{
            height: 60vh;
        }
        .heroSection{
        @include dflex(column,$justify:space-between , $align :center);
            h1{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
            &__item{
                margin: 2vh 0;
            }
        }
    }
  }

@media screen and (min-width: $ecran-moyen-min) and (max-width: $ecran-moyen-max) {

    #Head{
        height: 75vh;
        .headText{
            height: 75vh;
        }
        .heroSection{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 15px;
            }
            &__item{
                margin: 2vh 0;
            }
        }
    }
    
  }