$nav-link-font-weight : dark;
$navbar-dark-color: white;
$navbar-dark-hover-color: blue;
$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: white;
$navbar-dark-toggler-border-color:white;


@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.Navbar{
    background-color:#4d597d;
}