//colors
$light:#ffffff;
$secondary : #F9B860;
$primary : #0B181E;
$dark :#000000;
$transparent :#00000000;
$bg-secondary: $secondary;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
    "transparent": $transparent,
);
$font_family: (
    "font-primary" : "'Playfair Display', serif",
    "font-secondary" : "'Raleway', sans-serif",
)
